body{
  background: url(/images/forside.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.colour{
    height: 20px;
    width: 20px;
    position: absolute;
}

.living-room{
    left: 42%;
    top: 14%;
    height: 48%;
    width: 24%;
}

.kitchen{
    left: 65%;
    top: 14%;
    height: 25%;
    width: 21%;
}

.bathroom{
    left: 43%;
    top: 61%;
    height: 27%;
    width: 20%;  
    background-color: aliceblue; 
}

.bedroom1{
    left: 66%;
    top: 39%;
    height: 25%;
    width: 20%;
    background-color: rgb(111, 51, 123);
}

.bedroom2{
    left: 63%;
    top: 61%;
    height: 27%;
    width: 23%;
    background-color: rgb(111, 51, 123);
}