/* jeg har ikke brukt noen kunstig intelligens for å gjøre denne oppgaven, verken til bildegenerering, 
tekstgenerering eller kode. når jeg har møtt på utfordringer har jeg brukt w3schools som hjelpemiddel, 
men ingen kode er kopiert direkte. */

/* bildet av huset, hagen og de individuelle rommene er satt sammen av opphavsfrie bilder funnet på stock.adobe.com, unsplash og andre nettsider med bilder til fri bruk.
 bildene er sammensatt ved hjelp av canva sitt presentasjonsverktøy og lastet ned som svg */
body{
  background: url(/images/index-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

a{
    color: black;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
    line-height: 1.5rem;
    
}

/* animasjon som gjør at elementet pulserer fra 100%(opprinnelig størrelse) til 110%  */
@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);;
  }
}

.textbox{
    position:absolute;
    background-color: antiquewhite;
    padding-inline: 1rem;
    margin-top: 4%;
    line-height: 1rem;
    border: 4px solid black;
    border-radius: 1.5rem;
    /* animasjonsproperties satt sammen til én linje for ryddighet og minimere antall linjer.
    kaller på pulse animasjonen over og bestemmer varighet, repetisjon av animasjonen og at den går først "fremover" og så "bakover" */
    animation: pulse 1s infinite alternate;
    z-index: 999;
}

.garden{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 99%;
    width: 42%;
}

/* her har jeg plassert de individuelle rommene slik at de er over tilsvarende rom i bildet som viser hele huset. 
opacity er satt til 0 som default på rommene med hovereffekt.  */
.living-room{
    opacity: 0; 
    left: 42%;
    top: 13%;
    height: 51%;
    width: auto;
    position: absolute;
    z-index: 999;
}

.living-room:hover{
    opacity: 1;
    transform: scale(120%);
}

.bathroom{
    opacity: 0; 
    left: 42%;
    top: 61%;
    height: 28%;
    width: auto; 
    position: absolute;
    z-index: 999;
}

.bathroom:hover{
    opacity: 1;
    transform: scale(120%);
}

.kitchen{
    opacity: 0; 
    left: 64%;
    top: 14%;
    height: 27%;
    width: auto;
    position: absolute;
    z-index: 999;
}

.kitchen:hover{
    opacity: 1;
    transform: scale(120%);

}

.bedroom{
    opacity: 0; 
    left: 62%;
    top: 39%;
    height: 50%;
    width: auto;
    position: absolute;
    z-index: 999;
}

.bedroom:hover{
    opacity: 1;
    transform: scale(120%);
}

.house-img{
    width: auto;
    height: 79%;
    position: absolute;
    left: 37%;
    top: 13%;
}