/* bildet er satt sammen av opphavsfrie bilder funnet på ... bildene er sammensatt ved hjelp av canva presentasjonsverktøy  */
body{
  background: url(/images/index-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.house-container{
    position: absolute;
}

.house-img{
    max-width: 100%;
    height: auto;
}

.textbox{
    position:absolute;
    background-color: antiquewhite;
    padding-inline: 2rem;
    margin-top: 8%;
}
.rooms{
    position: absolute;
    /* background-color: aqua;
    opacity: 50%; */
}

/* .rooms:hover{ 
    background-color: yellow; 
    opacity:30%;
} */

/* .living-room{
    left: 42%;
    top: 14%;
    height: 48%;
    width: 24%;
}

.kitchen{
    left: 65.5%;
    top: 14%;
    height: 25%;
    width: 21%;
}

.bathroom{
    left: 42%;
    top: 61%;
    height: 28%;
    width: 21%;  
}

.bedroom{
    left: 63%;
    top: 39%;
    height: 50%;
    width: 23.5%;
}

.garden{
    left: 0%;
    top: 0%;
    height: 99%;
    width: 42%;
} */

.living-room-effect{
    opacity: 0;
    max-width: 100%;
    top: 0%;
    height: auto;
    position: absolute;
}

.living-room-effect:hover{
    opacity: 1;
}

.bathroom-effect{
    opacity: 0;
    max-width: 100%;
    top: 0%;
    height: auto;
    position: absolute;
}

.bathroom-effect:hover{
    opacity: 1;
}

.kitchen-effect{
    opacity: 0;
    max-width: 100%;
    top: 0%;
    height: auto;
    position: absolute;
}

.kitchen-effect:hover{
    opacity: 1;
}

.bedroom-effect{
    opacity: 0;
    max-width: 100%;
    top: 0%;
    height: auto;
    position: absolute;
}

.bedroom-effect:hover{
    opacity: 1;
}