/* bildet er satt sammen av opphavsfrie bilder funnet på ... bildene er sammensatt ved hjelp av canva presentasjonsverktøy  */
body{
  background: url(/images/index-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

ul{
    list-style: none;
    line-height: 1.5rem;
}

li{
    color: black;
}

/* .house-container{
    position: absolute;
} */


.textbox{
    position:absolute;
    background-color: antiquewhite;
    padding-inline: 1rem;
    margin-top: 4%;
    line-height: 1rem;
    border: 4px solid black;
    border-radius: 1.5rem;
}

/* .living-room{
    left: 42%;
    top: 14%;
    height: 48%;
    width: 24%;
}

.kitchen{
    left: 65.5%;
    top: 14%;
    height: 25%;
    width: 21%;
}

.bathroom{
    left: 42%;
    top: 61%;
    height: 28%;
    width: 21%;  
}

.bedroom{
    left: 63%;
    top: 39%;
    height: 50%;
    width: 23.5%;
}

.garden{
    left: 0%;
    top: 0%;
    height: 99%;
    width: 42%;
} */

.living-room-effect{
    opacity: 0; 
    left: 42%;
    top: 13%;
    height: 51%;
    width: auto;
    position: absolute;
    z-index: 999;
}

.living-room-effect:hover{
    opacity: 1;
    transform: scale(120%);
}

.bathroom-effect{
    opacity: 0; 
    left: 42%;
    top: 61%;
    height: 28%;
    width: auto; 
    position: absolute;
    z-index: 999;
}

.bathroom-effect:hover{
    opacity: 1;
    transform: scale(120%);
}

.kitchen-effect{
    opacity: 0; 
    left: 64%;
    top: 14%;
    height: 27%;
    width: auto;
    position: absolute;
    z-index: 999;
}

.kitchen-effect:hover{
    opacity: 1;
    transform: scale(120%);

}

.bedroom-effect{
    opacity: 0; 
    left: 62%;
    top: 39%;
    height: 50%;
    width: auto;
    position: absolute;
    z-index: 999;
}

.bedroom-effect:hover{
    opacity: 1;
    transform: scale(120%);
}

.house-img{
    width: auto;
    height: 79%;
    position: absolute;
    left: 37%;
    top: 13%;
}