#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#background-image{
    width: 100vw;
    height: 100vh;
}

.hitbox{
    position: absolute;
    z-index: 3;
    /* background-color: #8c00ff;
    opacity: 0.7; */
    /* Example positions, adjust as needed */
}

#fridge{
    top: 7%;
    left: 7%;
    transform:skewY(20deg);
    width: 14.5%;
    height: 95%;
}

#microwave{
    top: 49%;
    left: 26%;
    transform:skewY(3deg);
    width: 7%;
    height: 7%;
}

#tap{
    top: 50%;
    left: 48%;
    width: 3%;
    height: 5%;
}

#knife{
    top: 48%;
    left: 51%;
    width: 8%;
    height: 10%;
}
#stove{
    top:  48%;
    left: 59%;
    width: 10%;
    height: 10%;
}
#oven{
    top: 31%;
    left: 81%;
    width: 16%;
    height: 28%;
    transform: skewY(-5deg);
}

#oven-heat{
    position: absolute;
    top: 40%;
    left: 83.2%;
    width: 11.2%;
    height: 13.5%;
    transform: skewY(-2deg);
    background-color: rgb(255, 145, 0);
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in 0s;
    /* animation: oven-heat-anim 1s infinite; */
}
#oven:hover + #oven-heat{
    /* animation: oven-heat-anim 3s linear forwards; */
    transition: opacity 2s ease-in 0s;
    opacity: 0.6;
}

#microwave-heat{
    position: absolute;
    top: 50.3%;
    left: 29%;
    width: 2.5%;
    height: 4%;
    transform: skewY(2deg);
    background-color: rgb(255, 145, 0);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in 0s;
}

#microwave:hover + #microwave-heat {
    transition: opacity 0.1s ease-in 0s;
    opacity: 0.6;
}

/* @keyframes oven-heat-anim {
    0% {opacity: 0;}
    100% {opacity: 0.4;}
} */