/*
TODO: 
stove interaction + animation
*/

/* bakgrunn ligger nederst */
#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
/* skalerer med vindustørrelse */
#background-image{
    width: 100vw;
    height: 100vh;
}

/* alle interaktive hitboxene ligger øverst */
.hitbox{
    position: absolute;
    z-index: 3;
    
    /*debug*/
    /* background-color: #8c00ff;
    opacity: 0.7;  */
}

/* hitbox */
/* forskjøvet boksen for bedre treffsikkerhet */
#fridge{
    top: 7%;
    left: 7%;
    transform:skewY(20deg);
    width: 14.5%;
    height: 95%;
}
/* skjermen starter av */
#fridge-screen{
    position: absolute;
    top: 6.7%;
    left: 8.1%;
    width: 13.2%;
    height: 47.2%;
    opacity: 0;
    transition: opacity 0.2s linear;
}
/* skjermen skrur seg på */
#fridge:hover + #fridge-screen{
    transition: opacity 0.2s linear;
    opacity: 1;
}

/* hitbox */
/* forskjøvet boksen for bedre treffsikkerhet */
#microwave{
    top: 49%;
    left: 26%;
    transform:skewY(3deg);
    width: 7%;
    height: 7%;
}
/* mikrobølgen starter av */
#microwave-heat {
    position: absolute;
    top: 50.3%;
    left: 29%;
    width: 2.5%;
    height: 4%;
    transform: skewY(2deg);
    background-color: rgb(255, 145, 0);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in 0s;
}
/* skrur seg på på hover */
#microwave:hover + #microwave-heat {
    transition: opacity 0.1s ease-in 0s;
    opacity: 0.6;
}

/* hitbox */
#tap{
    top: 48%;
    left: 48%;
    width: 3%;
    height: 8%;
}
/* vannet skrur seg av fra bunnen (kinda) */
#water-flow{
    background-color: aqua;
    position:absolute;
    width: 0.5%;
    height: 0;
    top: 55%;
    left: 48.8%;
    z-index: 0;
    opacity: 1;
    transition: height 0.4s linear, top 0.4s linear;
}
/* vannet skrur seg på */
#tap:hover + #water-flow{
    transition: height 0.5s linear, top 0s linear;
    height: 5.7%;
    top: 49.5%;
}

/* hitbox */
#knife{
    top: 48%;
    left: 51%;
    width: 8%;
    height: 10%;
}
#knife-image{
    position: absolute;
    top: 51%;
    left: 53%;
    width: 4%;
    height: 4%;
}
#knife:hover + #knife-image{
    animation: knife-cutting-animation 0.5s ease-in 0s infinite alternate;
}
@keyframes knife-cutting-animation {
    0% {transform: translateY(0);}
    100% {transform: translateY(-100%);}
}

/* hitbox */
#stove{
    top:  48%;
    left: 59%;
    width: 10%;
    height: 10%;
}

/* hitbox */
#blender{
    top: 42%;
    left:71%;
    width: 6%;
    height: 14%;
}
#blender-image{
    position:absolute;
    width: 5%;
    height: 12%;
    top: 44%;
    left: 72%;
}
/* blenderen rister */
#blender:hover + #blender-image{
    animation: blender-animation 0.1s linear 0s infinite;
}
@keyframes blender-animation{
    0%{transform: rotate(0);}
    25%{transform: rotate(15deg);}
    50%{transform: rotate(0);}
    75%{transform: rotate(-15deg);}
    100%{transform: rotate(0);}
}

/* forskjøvet boksen for bedre treffsikkerhet */
/* hitbox */
#oven{
    top: 31%;
    left: 81%;
    width: 16%;
    height: 28%;
    transform: skewY(-5deg);
}

#oven-heat{
    position: absolute;
    top: 40%;
    left: 83.2%;
    width: 11.2%;
    height: 13.5%;
    transform: skewY(-2deg);
    background-color: rgb(255, 145, 0);
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in 0s;
}
#oven:hover + #oven-heat{
    transition: opacity 2s ease-in 0s;
    opacity: 0.6;
}

/* hjemknappen starter gjennomsiktig */
#home-button{
position: absolute;
    width: 100px;
    height: 100px;
    top: 0%;
    left: 0;
    z-index: 1;
}
#home-image{
    max-width: 100%;
    opacity: 0.2;
    transition: opacity 0.2s linear;
}
/* hjemknappen blir solid når brukeren hover over knappen */
#home-image:hover{
    transition: opacity 0.2s linear;
    opacity: 1;
}